.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #A5F1E9;
}

h1, h2 {
    color: #810CA8;
    font-family: 'Inter', sans-serif;
}

.btn {
    margin: 20px;
    padding: 15px;
    width: 140px;
    background-color: #E5B8F4;
    color: #810CA8;
    border: 1px solid #810CA8;
    font-family: 'Inter', sans-serif;
}

.btnTwo {
    margin: 40px;
    padding: 20px;
    width: 180px;
    background-color: #DD5353;
    color: #820000;
    border: 1px solid #820000;
    font-family: 'Inter', sans-serif;
}

img {
    box-shadow: 0 0 10px #6B728E,0 0 20px #6B728E,0 0 30px #6B728E,0 0 40px #6B728E;
}